body {
    margin: 0;
    height: 100vh;
}

#bg {
 background-color: #3A3A3A;
 height: 100%;
}

#page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}

#left-sidebar {
    position: absolute;
    width: 10vw;
    height: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#right-sidebar {
    position: absolute;
    width: 10vw;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-img {
    width: 80vw;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.book-img {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: contain;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#navigator {
    z-index: 5;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    margin: 0 auto;
    height: 10vh;

}

#content {

    color: #e8e8e8;

    span {
        color: #e8e8e8;
    }

}

#pageSelector {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    padding: 0 0.5rem;
    text-align: center;
    width: calc(max(2, 1) * 1ch + 1px)
}

#pageNavi {
    display: flex;
    height: 100%;
}

.controller {
    height: 400px;
    display: grid;
    grid-template-rows: 100px 300px
}

#next, #prev {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 6rem;
    }
}

#start,#end {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 2rem;
    }
}

#thumbnails {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 100px));
    justify-content: center;
    gap: clamp(16px, 2vw, 28px);
    bottom: 6rem;
    width: 100%;
}
